<li>
    <p>
        <%if (locals.user && locals.user.id==post.user.id){%>
        <small>
            <a href="/posts/destroy/<%=post.id%>">Delete</a>
        </small>
        <%}%>
        <%=post.content%>
    <span><%=post.user.name%></span>
    </p>
    <div class="comments">
        <%if (locals.user){%>
            <form action="/comments/createComment" method="POST">
                <input type="text" name="content" id="" placeholder="Type comment" required>
                <input type="hidden" name="post" value="<%=post.id%>">
                <input type="submit" value="Add Content">
            </form>
            <%}%>
    </div>
    <div class="post-comments-list">
        <ul id="post-comments-<%=post.id%>"></ul>
        <% for ( comment of post.comments){%>
          
<%-include('comment')-%>

            <%}%>
    </div>
</li>